* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

body .nav-bar {
  width: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #eeee;
}

body .nav-bar .izquierda {
  width: 50%;
}

body .nav-bar .izquierda .contenedor {
  width: 100%;
}

body .nav-bar .derecha {
  width: 50%;
}

body .nav-bar .derecha .ul-lista {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .nav-bar .derecha .ul-lista li {
  list-style-type: none;
  padding: 1.3em 1em 1.3em 1em;
}

body .nav-bar .derecha .ul-lista li .links {
  text-decoration: none;
  color: #5B5858;
}

body .nav-bar .derecha .ul-lista li .links:hover {
  color: #B42A2A;
}

body .nav-bar .derecha .ul-lista li .butn {
  text-decoration: none;
  background-color: #B42A2A;
  padding: 1em 2em;
  color: white;
  border-radius: 2px;
  font-size: 0.8em;
}

body .nav-bar .derecha .ul-lista li .butn:hover {
  background-color: #782020;
}

body .nav-bar .derecha .ul-lista .resp-but {
  display: none;
}

body .principal {
  width: 100%;
  background-image: linear-gradient(60deg, rgba(255, 255, 255, 0.99) 30%, transparent 75%), url(../img/bg-2.jpg);
  background-size: cover, cover, cover, cover;
  background-position: center, center, center, center;
}

body .principal .cajapadre {
  width: 100%;
  height: 100%;
}

body .principal .cajapadre .caja1 {
  max-width: 1500px;
  margin: auto;
  padding-top: 10em;
}

body .principal .cajapadre .caja1 .contenedor {
  width: 50%;
}

body .principal .cajapadre .caja1 .contenedor .titulo {
  font-size: 3em;
  font-weight: 400;
  margin-bottom: 0.5em;
}

body .principal .cajapadre .caja1 .contenedor .texto {
  color: #565c61;
  font-size: 1.3em;
}

body .principal .cajapadre .caja1 .contenedor .btncont {
  width: 100%;
}

body .principal .cajapadre .caja1 .contenedor .btncont .butn {
  margin-top: 2.5em;
  border: none;
  padding: 1.25em 2.89em;
  font-size: 0.9em;
  color: white;
  background-color: #B42A2A;
  border-radius: 3px;
  cursor: pointer;
}

body .principal .cajapadre .caja2 {
  width: 100%;
}

body .principal .cajapadre .caja2 .programa {
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10em;
  padding-bottom: 10em;
}

body .principal .cajapadre .caja2 .programa .cajahija {
  margin: 0.5em;
  width: 20%;
  border: 1px solid #e3e6f0;
  border-radius: 3px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .principal .cajapadre .caja2 .programa .cajahija .texto {
  width: 60%;
  font-size: 1em;
  padding: 1em 0.5em;
  text-align: center;
}

body .principal .cajapadre .caja2 .programa .cajahija .img {
  width: 40%;
  background-image: url("../img/bg-2.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 0 3px 0 0;
}

body .recordar {
  width: 100%;
}

body .recordar .cajapadre {
  max-width: 1140px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 7em 5em;
}

body .recordar .cajapadre .izquierda {
  width: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 2em 1em;
}

body .recordar .cajapadre .izquierda .titulo {
  font-size: 2.5em;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 0.5em;
}

body .recordar .cajapadre .izquierda .texto {
  color: #646f79;
  font-size: 1.1em;
  line-height: 1.7;
}

body .recordar .cajapadre .derecha {
  width: 50%;
  /*img {
                    margin: auto;
                    width: 60em;
                    height: 30em;
                }*/
}

body .recordar .cajapadre .derecha .img {
  width: 30em;
  height: 30em;
  background-image: url("../img/desk.png");
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 1540px) {
  .principal .cajapadre {
    padding: 2em;
  }
  .principal .cajapadre .caja1 {
    padding-top: 5em !important;
  }
  .principal .cajapadre .caja2 .programa {
    padding-top: 3em !important;
    padding-bottom: 3em !important;
  }
}

@media screen and (max-width: 1255px) {
  .principal .cajapadre .caja1 .contenedor .titulo {
    font-size: 2.5em !important;
  }
  .principal .cajapadre .caja1 .contenedor .texto {
    font-size: 1.12em !important;
  }
}

@media screen and (max-width: 1057px) {
  .principal .cajapadre .caja1 {
    /*.contenedor{
                    width: 100% !important;
                }*/
  }
  .principal .cajapadre .caja1 .contenedor {
    width: 100%;
  }
  .principal .cajapadre .caja2 {
    width: 100% !important;
  }
  .principal .cajapadre .caja2 .programa .cajahija {
    width: 55% !important;
    margin: auto !important;
    margin-top: 0.5em !important;
    margin-left: 0.5em !important;
  }
  .recordar .cajapadre {
    padding: 7em 2em !important;
  }
}

@media screen and (max-width: 958px) {
  .recordar .cajapadre {
    display: block !important;
    padding: 5em 2em !important;
  }
  .recordar .cajapadre .izquierda,
  .recordar .cajapadre .derecha {
    width: 100% !important;
  }
}

@media screen and (max-width: 858px) {
  .nav-bar .derecha .ul-lista .resp-but {
    display: block !important;
  }
  .nav-bar .derecha .ul-lista .anclas {
    display: none !important;
  }
  .principal {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(30%, rgba(255, 255, 255, 0.99)), color-stop(75%, transparent)), url(../img/bg-op.jpg) !important;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.99) 30%, transparent 75%), url(../img/bg-op.jpg) !important;
    background-size: cover, cover, cover, cover;
    background-position: center, center, center, center;
  }
  .principal .cajapadre .caja1 .contenedor {
    width: 100% !important;
  }
  .principal .cajapadre .caja1 .contenedor .titulo {
    color: #fff;
  }
  .principal .cajapadre .caja1 .contenedor .texto {
    color: #e4e4e4 !important;
  }
  .principal .cajapadre .caja2 {
    width: 100% !important;
    margin: auto !important;
  }
  .principal .cajapadre .caja2 .programa {
    display: block !important;
  }
  .principal .cajapadre .caja2 .programa .cajahija {
    width: 100% !important;
    margin-top: 0.5em !important;
  }
  .recordar .cajapadre .derecha {
    width: 100% !important;
  }
  .recordar .cajapadre .derecha .img {
    width: 100% !important;
    height: 30em !important;
  }
}

@media screen and (max-width: 511px) {
  .recordar .cajapadre .derecha .img {
    width: 25em !important;
    height: 30em !important;
  }
}

@media screen and (max-width: 432px) {
  .recordar .cajapadre {
    padding: 3em 1em !important;
  }
  .recordar .cajapadre .derecha .img {
    width: 23em !important;
    height: 30em !important;
  }
}

@media screen and (max-width: 383px) {
  .recordar .cajapadre {
    padding: 3em 1em !important;
  }
  .recordar .cajapadre .derecha .img {
    width: 20em !important;
    height: 30em !important;
  }
}

@media screen and (max-width: 335px) {
  .recordar .cajapadre .derecha .img {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */