* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    .nav-bar {
        width: 100%;
        background-color: #fff;
        display: flex;
        border-bottom: 1px solid #eeee;
        .izquierda {
            width: 50%;
            .contenedor{
                width: 100%;
            }
        }

        .derecha {
            width: 50%;
            ul {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                li{
                    list-style-type: none;
                    padding: 1.3em 1em 1.3em 1em;
                    .links{
                        text-decoration: none;
                        color: #5B5858;
                        &:hover{
                            color: #FF4C5B;
                        }
                    }
                    .btn{
                        text-decoration: none;
                        background-color: #FF4C5B;
                        padding: 1em 2em;
                        color: white;
                        border-radius: 2px;
                        font-size: 0.8em;
                        &:hover{
                            background-color: rgb(255, 58, 74);
                        }
                    }
                }
            }
        }
    }
    .principal{
        width: 100%;
        height: 90vh;
        .cajapadre{
            width: 100%;
            height: 100%;
            background-image: linear-gradient(60deg, rgba(255, 255, 255, 0.99) 30%, transparent 75%), url(../img/bg-2.jpg);
            background-size: cover, cover, cover, cover;
            background-position: center, center, center, center;
            .caja1{
                max-width: 1500px;
                margin: auto;
                //margin: 20em;
                padding-top: 20em;
                .contenedor{
                    width: 40%;
                    .titulo{
                        font-size: 3em;
                        font-weight: 400;
                        margin-bottom: 0.5em;
                    }
                    .texto{
                        color: #889098;
                        font-size: 1.3em;                        
                    }
                    .btncont{
                        width: 100%;
                        .btn{
                            margin-top: 2.5em;
                            border: none;
                            padding: 1.25em 2.89em;
                            font-size: 0.9em;
                            color: white;
                            background-color: #FF4C5B;
                            border-radius: 3px;
                            cursor: pointer;
                        }
                    }
                }
            }
            .caja2{
                width: 100%;
                .programa{
                    max-width: 1200px;
                    margin: auto;
                    display: flex;
                    padding-top: 3em;
                    .cajahija{
                        /*width: 100%;*/
                        margin: 0.5em;
                        width: 20%;
                        border: 1px solid #e3e6f0;
                        border-radius: 3px;
                        background-color: #fff;
                        display: flex;
                        .text{
                            width: 60%;
                            font-size: 1em;
                            padding: 1em 0.5em;
                            text-align: center;
                        }
                        .img{
                            width: 40%;
                            background-image: url("../img/bg-2.jpg");
                            background-size: cover;
                            background-position: center;
                            border-radius: 0 3px 0 0;
                        }
                    }
                }
            }
        }
    }
}